*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.start{
    height: 100vh;
    width: 100%;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    align-items: center;
    display: flex;
    padding: 40px 40px; 
    justify-content: space-between;
}

.logoname{
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 10px;
    color: deepskyblue;
    padding: 5px 15px 5px;
    font-weight: 100;
}

span{
    color:darkgray;
}

nav ul li{
    display: inline-block;
    padding: 15px 20px;
}
nav ul li a{
    color:aqua;
    font-weight: bolder;
    text-transform: none;
    text-decoration: none;
}
nav ul li a:hover{
    color:red;
}

.data a{
    text-decoration: none;
    color:red;
    background-color: black;
    font-weight: bolder;
    border-radius: 35px;
    padding: 10px 10px;

}

.data{
    position: absolute;
    margin-right: 15%;
    margin-top: 15%;
}

.data h4{
    color:whitesmoke;
    padding: 15px 10px ;
    text-decoration: none;
    font-size: 22px;

}

.data h2 span{
    color:yellow;
    font-family: Verdana;
    font-size: 30px; 
    padding-left: 5px;
}

.aboutme{
    width: auto;
    padding: 100px 0px;
    background-color: silver;
}
    
.aboutme img{
    height:auto;
    width: 430px;
    padding: 60px 10px;
    border-radius: 30px;
    }
    
    .textaboutme{
    width: 550px;
    }
    
.important{
     width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
    
.textaboutme h3{
    color: white;
    font-size:75px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
     
 
.textaboutme h4{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom:  25px;
    text-transform:capitalize;
}
    
.textaboutme p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px ;
    margin-bottom: 45px;
}

.textaboutme h3 span{
    color: black;
}

.textaboutme h4 span{
    color: red;
}

.textaboutme p span{
    color: red;
}

 .myskills{
    width: auto;
    padding: 20px 15px;
    height: auto;
    background-color: green;
    
}

.myskills h4{
    text-align: center;
    color:darkslateblue;
    padding: 25px 0px;
    
}

.myskills img{
    height: 300px;
    width: auto;
    margin-left: 110px;
    margin-top: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
}
  

.value{
    width: auto;
    justify-content: space-around;
    align-items: center;
    height: auto;

}

.textskills {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.textskills p {
    color: white;
    padding: 20px 0px;
}

.footer-section{
    background-image: url("vodopad.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.footer-section h2{
    text-align: center;
    color: grey;
    padding-top: 60px;
}

.form-contact{
    max-width: 600px;
    margin: auto;
    padding: 0px 15px;
    overflow: hidden;
}

.form-contact-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
    border: 0;
    background: lightblue;
    padding: 20px 30px;
    outline: none;
    color: red;
    transition: 0.5s;
}

.form-contact-text:focus{
    box-shadow: 1px 1px 4px blue;

}

textarea.form-contact-text{
    resize: none;
    height: 110px;
}

.form-contact-botton{
    float: right;
    background-color: grey;
    color: lightblue;
    padding: 15px 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: 0.5s
}

.form-contact-botton:hover{
    background: red;
}












